
.key{
    
position: absolute;
     margin:17px;
     margin-right: 15px;
     
       background: rgba( 255, 255, 255, 0.10 );
        backdrop-filter: blur(10px);
      color: white;
     border: 2px solid white;
}

/* .input{
    background-color: blueviolet;
    color:blue;
    font-size: large;
    border: 2px solid darkblue;
    
} */
/* .input:focus{
    background-color: blueviolet;
    color: white;
    
    
} */

.file:focus{
    background-color: blueviolet;
    color: white;

}

.file{
    color: gray;
     font-size: large;
    border: 2px solid darkblue;
    
}


.input {
  width: 100%;
  padding: 10px 14px;
  border: 1.7px solid #CBD5E1;
  border-radius: 10px;
   color:blue;
  background: #fff;
  outline: none;
  transition: 0.2s;
  font-size: 15px;
}

.input:focus {
  border-color: #160f78;
  box-shadow: 0 0 6px rgba(19, 6, 157, 0.3);
}



.heading {
  font-size: 28px;
  font-weight: 700;
  color: #4C3FE4;
}


.button {
  /* background: #4C3FE4;
  padding: 10px 18px;
  border-radius: 12px; */
  color: white;
  border: none;
  font-size: 16px;
  transition: 0.2s;
}

.button:hover {
  background: #3B33C9;
  transform: translateY(-2px);
}
